files.minersonline.uk {
    reverse_proxy http://100.111.154.208:8086
}

phpmyadmin.minersonline.uk {
    reverse_proxy http://phpmyadmin:80
}

api.minersonline.uk {
    reverse_proxy http://server-announce:3000
}

mail-admin.minersonline.uk {
    reverse_proxy https://stalwart:443 {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

autoconfig.minersonline.uk {
    reverse_proxy https://stalwart:443 {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

autodiscover.minersonline.uk {
    reverse_proxy https://stalwart:443 {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}
